body{
  color: white;
  font-family: cursive;
  overflow: hidden;
}

.light{
  margin-left: 90%;
  margin-top:2%;
  cursor: pointer;
}
h1{

  text-align: center;
}

.dark-mode{
  width: 100%;
  height: 100vh;
  background-image: url("./assest/4K-OLED-Wallpaper-HD-Free-download.jpg");
  color: white;
  background-size: cover;

}

.light-mode{
  width: 100%;
  height: 100vh;
  background-image: url("./assest/play-firewatch-wallpaper-2048x1152_49.jpg");
  background-size: cover;
 background-attachment: fixed;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;

}

.weatherBox{

 width: 50%;
 
border-radius: 20px;
background-color: rgba(84, 83, 83, 0.3);
text-align: center;
padding: 50px;
/* box-sizing:border-box; */
}